Found {{ stats.num_iocs }} total IOCs with {{stats.deps | length }} module dependencies. <br/>
A combined total of {{ total_versions }} distinct module versions were found. <br/>

<h3>Overall statistics</h3>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>IOCs</td>
      <td>{{ stats.num_iocs }}</td>
    </tr>
    <tr>
      <td>Modules in use</td>
      <td>{{ stats.deps | length }}</td>
    </tr>
    <tr>
      <td>Module versions</td>
      <td>{{ total_versions }}</td>
    </tr>
    <tr>
      <td>RELEASE files</td>
      <td>{{ stats.num_release_files }}</td>
    </tr>
    <tr>
      <td>EPICS base versions</td>
      <td>{{ stats.apps_by_base_version | length }}</td>
    </tr>
  </tbody>
</table>

<h3>EPICS base statistics</h3>

<table>
  <thead>
    <tr>
      <th>Base version</th>
      <th>Application count</th>
      <th>IOC count</th>
    </tr>
  </thead>
  <tbody>
{% for base_version, release_files in stats.apps_by_base_version | dictsort %}
    <tr>
      <td>{{ base_version }}</td>
      <td>{{ release_files | length }}</td>
      <td>{{ stats.iocs_by_base_version[base_version] | length }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<h3>Modules</h3>

<table>
  <thead>
    <tr>
      <th>Module</th>
      <th>Application Count</th>
      <th>IOC Count</th>
      <th>Versions in use</th>
    </tr>
  </thead>
  <tbody>
{% for dep in deps_by_release_file_count %}
    <tr>
      <td>{{ dep.name }}</td>
      <td>{{ dep.by_release_file | length }}</td>
      <td>{{ dep.by_ioc_name | length }}</td>
      <td>{{ dep_versions[dep.name] | length }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>


{% for dep in deps_by_release_file_count %}

<h2>{{ dep.name }}</h2>

  <br/>
  {{dep.name}} is specified in {{dep.by_release_file|length}} applications and {{dep.by_ioc_name|length}} IOCs.
  <br/>
  A total of {{dep.by_version|length}} {{ dep.name }} versions are currently in use.
  <br/>

<table>
  <thead>
    <tr>
      <th>Module Version</th>
      <th>EPICS Base</th>
      <th>Usage count</th>
    </tr>
  </thead>
  <tbody>
    {% for version, release_files in dep_versions[dep.name] %}
    <tr>
      <td>
        <a target="_blank" href="{{ version.url }}">
          {{ version.tag }}
        </a>
      </td>
      <td>
        <a target="_blank" href="{{ version.base_url }}">
          {{ version.base }}
        </a>
      </td>
      <td>
        <details>
          <summary>
            {{ release_files | length}}
          </summary>
          <ul>
          {% for release_file in release_files %}
            <li><pre>{{ release_file.filename }}</pre></li>
          {% endfor %}
          </ul>
        </details>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endfor %}
